<div class="tab-pane active" id="Article-{{this._id}}"> 
    <img class="card-img-top" src="{{this.img}}"></img>
    <div class="h4 card-title mt-3 articleTitle">{{this.title}}"</div>
    <div class="card-body descriptionElement">{{this.description}}"</div>
    <p>published: {{formatRelative this.pubDate}}</p> 
</div> 
<div class="tab-pane p-3" id="comment-{{this._id}}"> 
    {{#>commentsforTab}}
    {{/commentsforTab}}
</div>